.top_l {
    width: 100%;
    min-width: 1200px;
    height: 64px;
    background: rgba(25, 45, 76, 1);
}

.top_l .top_l_content {
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

.top_l_menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top_l_menu > li {
    float: left;
    height: 64px;
    line-height: 64px;
}

.menu_item_l {
    width: 90px;
}

.top_logo_l {
    width: 198px;
    text-align: left;
}

.top_logo_l > a {
    display: block;
    width: 148px;
    height: 64px;
}

.top_logo_l a img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    outline: none;
    border-width: 0;
}

.menu_item_l > a {
    text-decoration: none;
    display: block;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.menu_item_l > a:hover {
    background: rgba(255, 255, 255, 0.12);
}

.shares_select_l {
    width: 80px;
    height: 38px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 2px 0 0 2px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 38px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.shares_select_option_con {
    width: 80px;
    height: 94px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px 2px rgba(30, 111, 228, 0.3);
    border-radius: 4px;
    position: absolute;
    top: 42px;
    padding-top: 8px;
    display: none;
    z-index: 2;
}

.code_option_item {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.code_option_item:hover {
    background: rgba(30, 111, 228, 0.16);
}

.selected_type {
    background: rgba(30, 111, 228, 0.16);
}

.icon1_l {
    content: "";
    display: inline-block;
    width: 15px;
    height: 8px;
    background: url("/static/index/images/downIcon1.png");
    background-position: center;
    background-size: 100%;
    position: absolute;
    right: 6px;
    top: 16px;
}

.login_status_1 .login_btn_l {
    outline: none;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin-left: 29px;
    margin-right: 20px;
}

.top_msg_icon_l {
    display: inline-block;
    height: 23px;
    width: 19px;
    vertical-align: middle;
    background-image: url("/static/index/images/noteIcon.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 26px;
    margin-right: 10px;
}

.msg_detail_icon {
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: middle;
    background-image: url("/static/index/images/msgDown.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.user_login_l {
	float: right;
}
.login_status_2 {
    display: block;
}

.login_status_2 a {
    text-decoration: none;
    color: #ffffff;
}

.user_head_photo {
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    border: 2px solid #ffffff;
}

.msg_icon_link {
    position: relative;
}

.top_msg_number {
    height: 14px;
    width: 14px;
    background-color: #E75755;
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
    font-size: 12px;
}

.user_head_photo img {
    height: 100%;
    width: 100%;
}

.register_btn_l {
    outline: none;
    background: rgba(30, 111, 228, 1);
    border-radius: 2px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border-width: 0;
    text-decoration: none;
    cursor: pointer;
    padding: 11px 20px;
}

.search_input_text {
    display: inherit;
    height: 38px;
    padding: 0 26px 0 14px;
    font-size: 14px;
    margin: 0;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
    color: #ffffff;
    width: 180px;
    overflow: hidden;
    border-width: 0;
    background: rgba(255, 255, 255, 0.2);
}

.search_input_con {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.search_key_con {
    position: relative;
}

.icon2_l {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background: url("/static/index/images/searchIcon.png");
    background-size: 100%;
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.key_result_list {
    position: absolute;
    width: 220px;
    box-shadow: 0 0 8px 2px #1E6FE4;
    border-radius: 4px;
    background-color: #ffffff;
    z-index: 999;
    top: 42px;
    padding: 4px 0;
    display: none;
}

.key_result_item {
    display: block;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    padding: 0 10px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.key_result_item:hover {
    background: rgba(30, 111, 228, 0.16);
}

.key_result_img {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.keyword_red {
    color: red;
}

