<link rel="stylesheet" href="__INDEX__/style/footer_l.css"/>

<div class="footer_l">
    <div class="footer_l_content">
        <div class="about_us_l">
            <div class="footer_title_l">
                关于我们
            </div>
            <div class="about_us_list">
                <a href="#" class="about_us_item">意见反馈</a>
                <a href="#" class="about_us_item">风险提示</a>
                <a href="#" class="about_us_item">搜索调用</a>
                <a href="#" class="about_us_item">我来纠错</a>
                <a href="#" class="about_us_item">隐私条款</a>
                <a href="#" class="about_us_item">使用条款</a>
                <a href="#" class="about_us_item">使用协议</a>
                <a href="#" class="about_us_item">企业守则</a>
            </div>
        </div>
        <div class="link_friendship_l">
            <div class="footer_title_l">
                友情链接
            </div>
            <div class="link_friendship_list">
                <a href="/index/myform/index.html" class="link_item">我要投诉</a>
                <a href="/index/regulation/index.html" class="link_item">交易商分类</a>
                <a href="/search.html" class="link_item">搜索主页</a>
                <a href="/index/article/index.html" class="link_item">文章分类主页</a>
                <a href="/index/cases/index?myid=2020051352100588" class="link_item">投诉过程</a>
                <a href="/index/broker/index.html" class="link_item">公司详情页</a>
                <a href="/index/article/articles?myid=2020051352100515" class="link_item">文章详情页</a>
                <a href="/index/article/addarticle.html" class="link_item">发表文章</a>
                <a href="#" class="link_item">汇率换算查询</a>
                <a href="#" class="link_item">中亿财经网</a>
                <a href="#" class="link_item">零点财经</a>
                <a href="#" class="link_item">白银</a>
                <a href="#" class="link_item">友财网</a>
                <a href="#" class="link_item">灵客外汇论坛</a>
                <a href="#" class="link_item">区块链</a>
                <a href="#" class="link_item">赢家聊吧</a>
                <a href="#" class="link_item">区块链财经</a>
                <a href="#" class="link_item">外汇代理</a>
                <a href="#" class="link_item">散户查股</a>
                <a href="#" class="link_item">人民币收藏</a>
            </div>
        </div>
        <div class="Qr_code_l">
            <img src="__INDEX__/images/qrCode.png" alt="二维码" class="qrCode_image"/>

            <div class="qrCode_desc">官方微信号</div>
        </div>
    </div>
    <div class="footer_l_content2">
        <div class="footer_con2_link1">
            <div>官方邮箱：test@test.com；       </div>
            <div class="marginLeft102">交易商投诉举报、疑问咨询反馈信：test02 或 teste001</div>
        </div>
        <div class="footer_con2_link2">
            <div>客服电话：（HK）+00855 56200870;</div>
            <div class="marginLeft60">牌照等信息纠错请发送信息至: QA@test.com;</div>
            <div class="marginLeft165">商务合作：AD@test.com</div>
        </div>
    </div>
</div>
